@import 'styles/reset';
@import 'styles/header';
@import 'styles/main';
@import 'styles/footer';

.body {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
